.panel {
   margin-top: 2%;
}
.col-md-12 {
    margin-left: 20px;
}
.btn {
    margin-left: 20px;

}

.orderItems {
    height: 333px;
    width: 202px;
    float: left;
    margin-left: 5%;
}

.orderItems > img {
    height: 224px;
    width: 100%;
}